JHUGenMELA/
__pycache__/
AnalysisTools/EFT2Obs/
SimulationTools/200205_CutBased/
AnalysisTools/TemplateMaker/condor/
AnalysisTools/TemplateMaker/condor_kappaQ/
AnalysisTools/TemplateMaker/condor_kappaQ2/
AnalysisTools/TemplateMaker/condor_QCDmuRV/
**/*.DAT
**/*.dat
**/*.root
**/*.sm*
**/*Pdfdata*
**/*.lhe
.vscode/